<%- include("partials/header") -%>

<div>
  <h1>Home</h1>
  <p><%=homeContent%></p>

  <% posts.forEach((item, i) => { %>
  <%  let truncatedContent = ""; %>
    <h1><%= item.title %></h1>
  <%    if (item.content.length > 100) { %>
  <%      truncatedContent = item.content.slice(0, 100); %>
  <%    }; %>
    <p><%= truncatedContent %> ...
      <a href="/posts/<%=item.title%>">Read More</a>
    </p>
  <% }); %>

</div>


<%- include("partials/footer") -%>
